<nav class="navbar-inverse">
  <div class="container-fluid">
    <div class="navbar navbar-header">
      <a class="navbar-brand" href="#">
        <div style="">
        <img src="../../assets/logo.jpg" class="img-responsive" style="max-height: 80px; float: left">&nbsp;
         <h1 style="display: inline">WhetherWiz</h1>
        </div>
      </a>
    </div>
    <div class="navbar">
      <ul class="nav navbar-nav navbar-btn">
        <li><a href="#" >Home</a></li>
        <li><a href="#" >News</a> </li>
        <li><a href="#" >Live Cameras</a> </li>
        <li><a href="#" >Photos</a> </li>
        <li><a href="#" >Contact</a> </li>
      </ul>

      <ul class="nav navbar-nav navbar-right navbar-btn">
        <li><a href="#">
          <img src="" class="img-responsive" style="max-height: 50px; float: left">
          <h4 style="display: inline">Login / Sign Up</h4>
        </a> </li>
      </ul>
    </div>
   </div>
</nav>
